@model MusaTheWelder.Models.SaleQuote

@{
    ViewBag.Title = "Details";
}

<h2 class="text-center">Details</h2>

<h2 class="text-center">Quote Details</h2>

<style>
    * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
    }

    .row:after {
        content: "";
        display: table;
        clear: both
    }

    .column-66 {
        float: left;
        width: 66.66666%;
        padding: 20px;
    }

    .column-33 {
        float: left;
        width: 33.33333%;
        padding: 20px;
    }

    .large-font {
        font-size: 48px;
    }

    .button {
        border: none;
        color: white;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
        background-color: #04AA6D;
    }

    .xlarge-font {
        font-size: 64px
    }
</style>

@using (Html.BeginForm("Details", "SaleQuotes", FormMethod.Post))
{
    <!-- The App Section -->
    <div class="container">
        <div class="row">
            <div class="column-66">
                <h1 class="xlarge-font"><b>@Model.Status</b></h1>
                <h1 class="large-font" style="color:MediumSeaGreen;"><b>Current Quote Price: &#82;@Model.QuotePrice</b></h1>
                <p><span style="font-size:36px">Instructions: @Model.QuoteInstructions</span></p>
                <h2>Items: </h2>
                @foreach (var item in ViewBag.SaleDetails)
                {
                    <ul>
                        <li>
                            @item.ProductName - <strong>&#82;            @item.ProductPrice <img src="data:image;base64,@System.Convert.ToBase64String(item.ProductImage)" width="100px" height="100px" /></strong>
                        </li>
                    </ul>
                }
                <br />
            </div>
            <div class="column-33">
            </div>
        </div>
    </div>

    <input type="text" id="Install" name="Install" rows="4" cols="50">
    <button type="submit" value="Submit" class="btn btn-success btn-sm">Update Quote</button>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
}

