@model MusaTheWelder.Models.SaleQuote
@using MusaTheWelder.Models;

@{
    ViewBag.Title = "Details";
}

<h2 class="text-center">Details</h2>

<h2 class="text-center">Quote Details</h2>

<style>
    * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
    }

    .row:after {
        content: "";
        display: table;
        clear: both
    }

    .column-66 {
        float: left;
        width: 66.66666%;
        padding: 20px;
    }

    .column-33 {
        float: left;
        width: 33.33333%;
        padding: 20px;
    }

    .large-font {
        font-size: 48px;
    }

    .small-font {
        font-size: 20px;
    }

    .button {
        border: none;
        color: white;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
        background-color: #04AA6D;
    }

    .xlarge-font {
        font-size: 64px
    }
</style>

@using (Html.BeginForm("Details", "SaleQuotes", FormMethod.Post))
{
    <!-- The App Section -->
    <div class="container">
        <div class="row">
            <div class="column-66">
                <h1 class="xlarge-font">
                    <b>
                        @if (Model.Status == "Responded")
                        {
                            <b>Responded - </b><b class="text-warning">Waiting For Your Response</b>
                        }
                        else if (Model.Status == "Accepted")
                        {
                            <b class="text-success">Accepted</b>
                            if (ViewBag.DateInstalled != "")
                            {
                                <b class="text-success"> - Installation Successful</b>
                                <h3 class="text-info">Installed On @ViewBag.DateInstalled</h3>
                            }
                        }
                        else if (Model.Status == "Rejected")
                        {
                            <b class="text-danger">Rejected</b>
                        }
                    </b>
                </h1>
                <h1 class="large-font" style="color:MediumSeaGreen;"><b>Current Quote Price: &#82;@Model.QuotePrice</b></h1>
                <h2 class="large-font" style="color:cadetblue;"><b>Customer: @Model.Sale.CustomerName </b></h2>
                <h4 class="small-font" style="color:cadetblue;"><b>Customer Email: @Model.Sale.Email </b></h4>
                <p><span style="font-size:36px">Instructions: @Model.QuoteInstructions</span></p>
                <h2>Items: </h2>
                @foreach (var item in ViewBag.SaleDetails)
                {
                    <ul>
                        <li>
                            @item.ProductName - <strong>&#82;            @item.ProductPrice <img src="data:image;base64,@System.Convert.ToBase64String(item.ProductImage)" width="100px" height="100px" /></strong>
                        </li>
                    </ul>
                }
                <br />
            </div>
            <div class="column-33">
            </div>
        </div>
    </div>
}
@if (User.IsInRole("Install"))
{
    <h2 class="text-center text-info">Route To Customer: </h2>
    <iframe width="800"
            height="480"
            frameborder="0" style="position : relative; left : 15%;"
            src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyBNcE7mezvGDziXJG3p8wvchw5SSZMnUiQ&origin='@User.Identity.GetAddress()'&destination='@Model.Sale.Address'&avoid=tolls|highways" allowfullscreen>
    </iframe>
    <br />
    <br />
}


@if (User.IsInRole("Admin"))
{
    <input type="text" id="Install" name="Install" rows="4" cols="50">
    <button type="submit" value="Submit" class="btn btn-success btn-sm">Update Quote</button>
}


<a href="@Url.Action("YourQuotes","Manage")" class="btn btn-info"><i class="fa fa-shopping-cart"></i>Back To Quotes</a>
@if ((Model.isAccepted == false) && (Model.isPaid == false) && (Model.isDeclined == false))
{
    <a href="@Url.Action(actionName: "AcceptQuote", controllerName: "SaleQuotes", routeValues: new { id = Model.SaleQuoteId })" class="btn btn-success"><i class="fa fa-shopping-cart"></i>Accept Quote And Pay &#82;@Model.QuotePrice</a>
    <a href="@Url.Action(actionName: "RejectQuote", controllerName: "SaleQuotes", routeValues: new { id = Model.SaleQuoteId })" class="btn btn-danger"><i class="fa fa-shopping-cart"></i>Decline</a>
}

@if (User.IsInRole("Install") && ViewBag.DateInstalled == "")
{
    <a href="@Url.Action(actionName: "Install", controllerName: "SaleQuotes", routeValues: new { id = Model.SaleQuoteId })" class="btn btn-success"><i class="fa fa-shopping-cart"></i>Confirm Installation</a>
}

