@model IEnumerable<MusaTheWelder.Models.SaleQuote>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center text-warning">Administrator Quotes Menu</h2>


<h3 class="text-center text-danger">Pending Quotes</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sale.SaleDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuoteInstructions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuotePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isAccepted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isDeclined)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isPaid)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Where(x => x.Status == "Pending"))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sale.SaleDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuoteInstructions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuotePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isAccepted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isDeclined)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isPaid)
            </td>
            <td>

                @Html.ActionLink("Give Quote", "Details", new { id = item.SaleQuoteId })
            </td>
        </tr>
    }



</table>

<hr />
<br />

<h3 class="text-center text-danger">Responded Quotes</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sale.SaleDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuoteInstructions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuotePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isAccepted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isDeclined)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isPaid)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Where(x => x.Status == "Responded"))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sale.SaleDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuoteInstructions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuotePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isAccepted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isDeclined)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isPaid)
            </td>
            <td>
            </td>
        </tr>
    }



</table>

<hr />
<br />

<h3 class="text-center text-info">Accepted Quotes</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sale.SaleDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuoteInstructions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuotePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isAccepted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isDeclined)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isPaid)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Where(x => x.isAccepted == true))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sale.SaleDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuoteInstructions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuotePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isAccepted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isDeclined)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isPaid)
            </td>
            <td>

                @Html.ActionLink("Give Quote", "Details", new { id = item.SaleQuoteId })
            </td>
        </tr>
    }
</table>

<hr />
<br />


<h3 class="text-center text-success">Finalized Quotes</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sale.SaleDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuoteInstructions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuotePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isAccepted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isDeclined)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isPaid)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Where(x => x.isPaid == true))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sale.SaleDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuoteInstructions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuotePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isAccepted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isDeclined)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isPaid)
            </td>
            <td>

                @Html.ActionLink("Details", "Details", new { id = item.SaleQuoteId })
            </td>
        </tr>
    }
</table>