@model IEnumerable<MusaTheWelder.Models.SaleQuote>

@{
    ViewBag.Title = "YourQuotes";
}

<h2>YourQuotes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sale.SaleDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuoteInstructions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuotePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isAccepted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isDeclined)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isPaid)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sale.SaleDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuoteInstructions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuotePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isAccepted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isDeclined)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isPaid)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SaleQuoteId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SaleQuoteId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SaleQuoteId })
        </td>
    </tr>
}

</table>
